/*header部分*/
header {
    /*头部区域*/
    width: 100%;
}
.header_top {
    /*头部区域的上面一块*/
    width: 1200px;
    margin: 0 auto;
}
.top_logo {
    /*头部区域的上面一块左边logo部分*/
    margin-bottom: 20px;
}
.top_img {
    /*logo图片*/
    padding-top: 35px;
    float: left;
    margin-right: 20px;
}
.logo_description {
    /*对logo图片的描述部分*/
    float: left;
    height: 43px;
    line-height:20px;
    border-left :1px #dcdcdc solid;
    margin-top: 25px;
    color: #999999;
    padding-left: 20px;
}

.top_search {
    /*头部区域的上面一块右边搜索部分*/
    float: right;
    margin-top: 25px;
}
.search {
    /*文本框搜索部分*/
    border:1px #dcdcdc solid;
    border-right:0 none;
    width: 283px;
    height: 41px;
    vertical-align: middle;
    outline: none;
    padding:0 13px;
    color: #555;
    font-size: 16px;
}
.submit {
    /*搜索提交按钮部分*/
    width: 44px;
    height:43px;
    vertical-align: middle;
    border:0 none;
    background: red url("../Images/search.png") no-repeat center;
    outline: none;
}
.header_bottom {
    /*头部区域的下面一块部分*/
    width: 1200px;
    margin:0 auto 10px;
}
.header_bottom ul {
    /*头部区域的下面一块左边列表部分*/
    width: 800px;
    display: inline-block;
}
.header_bottom li {
    /*头部区域的下面一块左边列表li标签设置相关属性部分*/
    float: left;
    margin-right:50px;
    font-size: 20px;
    line-height: 23px;
}
.header_bottom li a:hover {
    /*头部区域的下面一块左边列表li标签的鼠标悬浮（hover事件）*/
    color: red;
}
.bottom_right {
    /*头部区域的下面一块右边两个超链接部分*/
    float: right;
}
.bottom_right .join {
    /*头部区域的下面一块右边join超链接部分属性设置*/
    display: inline-block;
    width: 63px;
    height: 27px;
    background: red;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 27px;
    font-weight: bold;
}
.bottom_right .login {
    /*头部区域的下面一块右边login超链接部分属性设置*/
    display: inline-block;
    width: 52px;
    height: 27px;
    background: #a1a1a1;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 27px;
    font-weight: bold;
}


/*body部分*/
.red_line {
    /*nav导航条上面的红色条部分*/
    width: 100%;
    height: 5px;
    background-color: #f24933;
}
.nav_bg {
    /*导航条nav部分*/
    background-color: #ff5842;
    width: 100%;
}
.nav {
    /*导航条nav的ul标签部分*/
    width: 1200px;
    margin:0 auto 20px;
}
.nav li {
    /*导航条nav的li标签部分*/
    float: left;
    font-size: 16px;
    line-height:47px;
    color: white;
    height: 47px;
    padding: 0 20px;
    text-align: center;
}
.nav li:hover {
    /*导航条nav的li标签的鼠标悬浮事件部分*/
    background-color: #f24933;
}
.nav li a {
    /*导航条nav的li标签的a标签部分*/
    color: white;
    display: inline-block;
    width: 100%;
    height:47px;
}
.nav li a:hover {
    /*导航条nav的li标签的a标签悬浮事件部分*/
    background-color: #f24933;
}
.nav span {
    /*导航条nav的li标签里面的span部分*/
    display: inline-block;
    font-size: 27px;
    text-align: center;
    color: #f24933;
    float: right;
    position: relative;
    left:23px;
    top:-47px;
}

.body {
    /*body整个区域*/
    margin:0 auto;
    width:1200px;
}
.body_left {
    margin-right: 20px;
    width: 880px;
    float: left;
}
.latest_work {
    font-size: 24px;
    color: #1f1f1f;
    margin-bottom: 20px;
}
.body_left_content {
    width: 878px;
    height: 487px;
    border:1px #f8f8f8 solid;
    float: left;
}
.body_left_content .bg {
    width: 880px;
    height: 398px;
    background-color: red;
}
.body_left_content .p1 {
    font-size: 18px;
    color: #1f1f1f;
    margin-top: 22px;
    margin-left: 16px;
}
.body_left_content .p2 {
    color: #9f9f9f;
    font-size: 12px;
    margin:14px 0 22px 16px;
}
.body_left_content .p2 span {
    color: #ff5842;
}
.body_left .spacing1 {
    margin-left: 30px;
}
.body_left .spacing2 {
    margin-bottom: 30px;
}
.body_left_form {
    margin:0 auto ;
    width: 183px;
    height: 45px;
}
.btn {
    width: 183px;
    height: 45px;
    border:0 none;
    color: #ffffff;
    background-color: #ff5842;
    outline:none;
}















.body_right {
    width: 300px;
    display: inline-block;
    float: right;
}
.follow_us_logo {
    height: 32px;
    font-size: 24px;
    color: #1f1f1f;
    margin-bottom: 20px;
}
.follow_us {
    width: 300px;
    height: 147px;
    overflow: hidden;
}
.follow_us ul {
    width: 306px;
    height: 153px;
}
.follow_us ul li {
    text-indent: -999px;
    height: 45px;
    width: 45px;
    float: left;
    margin: 0 6px 6px 0;
    background: url("../Images/icon01.png");
    opacity: .8;
    filter: alpha(opacity=80);
}
.follow_us ul .li_2 {
    background: url("../Images/icon01.png") -51px 0;
}
.follow_us ul .li_3 {
    background: url("../Images/icon01.png") -102px 0;
}
.follow_us ul .li_4 {
    background: url("../Images/icon01.png") -153px 0;
}
.follow_us ul .li_5 {
    background: url("../Images/icon01.png") -204px 0;
}
.follow_us ul .li_6 {
    background: url("../Images/icon01.png") -255px 0;
}
.follow_us ul .li_7 {
    background: url("../Images/icon01.png") -51px -51px;
}
.follow_us ul .li_8 {
    background: url("../Images/icon01.png") -102px -51px;
}
.follow_us ul .li_94 {
    background: url("../Images/icon01.png") -153px -51px;
}
.follow_us ul .li_10 {
    background: url("../Images/icon01.png") -204px -51px;
}
.follow_us ul .li_11 {
    background: url("../Images/icon01.png") -255px -51px;
}
.follow_us ul .li_12 {
    background: url("../Images/icon01.png") -255px -51px;
}
.follow_us ul .li_13 {
    background: url("../Images/icon01.png") -51px -102px;
}
.follow_us ul .li_14 {
    background: url("../Images/icon01.png") -102px -102px;
}
.follow_us ul .li_15 {
    background: url("../Images/icon01.png") -153px -102px;
}
.follow_us ul .li_16 {
    background: url("../Images/icon01.png") -204px -102px;
}
.follow_us ul .li_17 {
    background: url("../Images/icon01.png") -255px -102px;
}
.follow_us ul .li_18 {
    background: url("../Images/icon01.png") -255px -102px;
}
.follow_us ul li:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.follow_us a {
    display: block;
    width: 45px;
    height: 45px;
}





.Categories_list {
    height: 32px;

    font-size: 24px;
    color: #1f1f1f;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Categories_list_nav_content {
    width: 149px;
    height: 38px;
    background: #f6f6f6;
    color: #aeaeae;
    float: left;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
}
.Categories_list_nav_content a {
    display: inline-block;
    width: 149px;
    height: 38px;
}
.Categories_list_nav_content a:hover {
    color: #ffffff;
    background-color: #ff5842;
}
.space_a {
    margin-right: 2px;
}
.space_b {
    margin-bottom: 2px;
}
.advertising {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
}
.advertising_bg {
    width: 300px;
    height: 250px;
    background-color: #ececec;
    margin-bottom: 20px;
}
.list {
    height: 47px;
    border-top: 5px #f24933 solid;
}
.list a {
    height: 47px;
    width: 100px;
    float: left;
    line-height: 47px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    background-color: #ff5842;
    position: relative;
}
.list .last {
    border: 0;
}
.list span {
    position: absolute;
    left: 98px;
    color: #e9422c;
}
.list a:hover {
    background-color: #f24933;
}
.living_abroad {
    width: 276px;
    border:1px #f8f8f8 solid;
    border-top: 0;
    padding: 0 11px;
}
#popular {
    display: block;
}
#recent {
    display: none;
}
#comments {
    display: none;
}
.living_abroad_show {
    border-bottom: 1px #f8f8f8 solid;
}
#last_1,#last_2,#last_3 {
    border-bottom:0;
}
.living_abroad_bg {
    width: 90px;
    height: 90px;
    background-color: #c3c3c3;
    margin:10px;
    float: left;
}
.living_abroad_show .p1 {
    font-size: 16px;
    color: #1f1f1f;
    margin-bottom: 10px;
    padding-top: 10px;
}
.living_abroad_show .p2 {
    font-size: 12px;
    color: #9f9f9f;
}
.living_abroad_show .p2 span {
    color: #ff5842;
}
.tags {
    height: 32px;
    margin:20px 0;
    color: #1f1f1f;
    font-size: 24px;
    line-height: 32px;
}

.tags_list div{
    height: 37px;

}
.tags_list .second {
    margin: 2px 0;

}
.tags_list a {
    padding: 0 10px;
    height: 37px;
    background-color: #f6f6f6;
    margin-right: 2px;
    display: inline-block;
    float: left;
    line-height: 37px;
    font-size: 14px;
    color: #8f8f8f;
}
.tags_list a:hover {
    background-color: #ff5842;
    color: #ffffff;
    cursor: pointer;
}
.featured_videos {
    height: 32px;
    margin:20px 0;
    color: #1f1f1f;
    font-size: 24px;
    line-height: 32px;
}
.twitter {
    height: 32px;
    margin:20px 0;
    color: #1f1f1f;
    font-size: 24px;
    line-height: 32px;
}
.twitter_list div {
    margin-bottom: 2px;
    background-color: #f6f6f6;
    height: 52px;
    width: 300px;
}
.twitter_list img {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.twitter_list p {
    font-size: 12px;
    color: #8f8f8f;
    line-height: 16px;
    float: left;
    padding-top: 10px;
    margin-left: 10px;
}
.twitter_list div:hover {
    background-color: #50b4e6;
    border:1px #42a7d9 solid;
}
.news_letter {
    height: 32px;
    margin: 20px 0;
    color: #1f1f1f;
    font-size: 24px;
    line-height: 32px;
}
.news_letter_p {
    margin-bottom: 10px;
    width: 300px;
    font-size: 16px;
}
.new_letter_sear {
    width: 300px;
    height: 43px;
    margin-left: -13px;
    float: right;
}
.new_letter_sear .txt {
    border: 1px #dcdcdc solid;
    border-right: 0 none;
    height: 41px;
    width: 209px;
    outline: none;
}
.new_letter_sear .sub {
    width: 90px;
    text-align: center;
    line-height: 43px;
    background-color: #ff5842;
    border:0 none;
    float: right;
    color: white;
    outline: none;
}



/*footer部分*/
.footer_bg1 {
    width: 100%;
    background-color:#222f35 ;
}
#footer_top {
    width: 1200px;
    margin: auto;
    padding:20px 0 40px 0;
    background-color: #222f35;
}
#footer_top a {
    color: #82a0ad;
}
.footer_top_left {
    width: 368px;
    float: left;
}
.company {
    font-size: 24px;
    color: white;
    line-height:28px;
    margin-bottom: 20px;
}
.company_description {
    color: #82a0ad;
    font-size: 14px;
    line-height: 21px;
}
.footer_top_right {
    float: right;
    width: 638px;
    padding-bottom: 10px;
}
.support_1 {
    float: left;
    margin-right: 126px;
}
.downloads {
    float: left;
    margin-right: 143px;
}
.support_2 {
    float: left;
    margin-right: 65px;
}
dt {
    font-size: 24px;
    line-height:28px;
    color: white;
    margin-bottom: 20px;
}
dd {
    font-size: 14px;
    line-height:26px;
    color: #829fad;
}
.footer_bg2 {
    background-color: #172125 ;
    width:100%;
}
#footer_bottom {
    width:1200px;
    margin:0 auto;
    background-color: #172125;
}
#footer_bottom p {
    display: inline-block;
    font-size: 14px;
    line-height:54px;
    color: #82a0ad;
    height: 54px;
}
#footer_bottom ul {
    float: right;
    padding:8px 0 9px 0;
}
#footer_bottom li {
    float: left;
    margin-left:2px;
}