/*header部分*/
header {
    /*头部区域*/
    width: 100%;
}
.header_top {
    /*头部区域的上面一块*/
    width: 1200px;
    margin: 0 auto;
}
.top_logo {
    /*头部区域的上面一块左边logo部分*/
    margin-bottom: 20px;
}
.top_img {
    /*logo图片*/
    padding-top: 35px;
    float: left;
    margin-right: 20px;
}
.logo_description {
    /*对logo图片的描述部分*/
    float: left;
    height: 43px;
    line-height:20px;
    border-left :1px #dcdcdc solid;
    margin-top: 25px;
    color: #999999;
    padding-left: 20px;
}

.top_search {
    /*头部区域的上面一块右边搜索部分*/
    float: right;
    margin-top: 25px;
}
.search {
    /*文本框搜索部分*/
    border:1px #dcdcdc solid;
    border-right:0 none;
    width: 283px;
    height: 41px;
    vertical-align: middle;
    outline: none;
    padding:0 13px;
    color: #555;
    font-size: 16px;
}
.submit {
    /*搜索提交按钮部分*/
    width: 44px;
    height:43px;
    vertical-align: middle;
    border:0 none;
    background: red url("../Images/search.png") no-repeat center;
    outline: none;
}
.header_bottom {
    /*头部区域的下面一块部分*/
    width: 1200px;
    margin:0 auto 10px;
}
.header_bottom ul {
    /*头部区域的下面一块左边列表部分*/
    width: 800px;
    display: inline-block;
}
.header_bottom li {
    /*头部区域的下面一块左边列表li标签设置相关属性部分*/
    float: left;
    margin-right:50px;
    font-size: 20px;
    line-height: 23px;
}
.header_bottom li a:hover {
    /*头部区域的下面一块左边列表li标签的鼠标悬浮（hover事件）*/
    color: red;
}
.bottom_right {
    /*头部区域的下面一块右边两个超链接部分*/
    float: right;
}
.bottom_right .join {
    /*头部区域的下面一块右边join超链接部分属性设置*/
    display: inline-block;
    width: 63px;
    height: 27px;
    background: red;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 27px;
    font-weight: bold;
}
.bottom_right .login {
    /*头部区域的下面一块右边login超链接部分属性设置*/
    display: inline-block;
    width: 52px;
    height: 27px;
    background: #a1a1a1;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 27px;
    font-weight: bold;
}


/*body部分*/
.red_line {
    /*nav导航条上面的红色条部分*/
    width: 100%;
    height: 5px;
    background-color: #f24933;
}
.nav_bg {
    /*导航条nav部分*/
    background-color: #ff5842;
    width: 100%;
}
.nav {
    /*导航条nav的ul标签部分*/
    width: 1200px;
    margin:0 auto;
}
.nav li {
    /*导航条nav的li标签部分*/
    float: left;
    font-size: 16px;
    line-height:47px;
    color: white;
    height: 47px;
    padding: 0 20px;
    text-align: center;
}
.nav li:hover {
    /*导航条nav的li标签的鼠标悬浮事件部分*/
    background-color: #f24933;
}
.nav li a {
    /*导航条nav的li标签的a标签部分*/
    color: white;
    display: inline-block;
    width: 100%;
    height:47px;
}
.nav li a:hover {
    /*导航条nav的li标签的a标签悬浮事件部分*/
    background-color: #f24933;
}
.nav span {
    /*导航条nav的li标签里面的span部分*/
    display: inline-block;
    font-size: 27px;
    text-align: center;
    color: #f24933;
    float: right;
    position: relative;
    left:23px;
    top:-47px;
}

#body #content {
    /*body整个区域*/
    margin:0 auto;
    width:1200px;
}
.exclusive_topics {
    margin-bottom: 23px;
}
.exclusive_topics_top {
    /*exclusive_topics区域左上方的文字部分*/
    margin:16px 0 15px;
    height: 41px;
}
.content_left {
    /*exclusive_topics区域左上方的存放文字和图片的div标签部分*/
    width: 1200px;
    display: inline-block;
    padding-top: 5px;
}
.content_left p {
    /*exclusive_topics区域左上方的存放文字的p标签部分*/
    height: 32px;
    display: inline-block;
    font-size: 24px;
    line-height: 32px;
    color: #1f1f1f;
}
.content_right {
    /*exclusive_topics区域右上方的存放切换按钮的div部分*/
    float: right;
}
.turn_style {
    /*exclusive_topics区域右上方的存放切换按钮的div里面的两个div属性部分*/
    width: 41px;
    height: 41px;
    background-color: #f5f5f5;
    color: #a4a4a4;
    display: inline-block;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
}
.turn_style:hover {
    /*exclusive_topics区域右上方的存放切换按钮的div里面的两个div的鼠标悬浮事件部分*/
    color: #686868;
    background-color: #eeeeee;
}
.exclusive_topics_bottom_1 {
    /*exclusive_topics区域下方的存黑色背景、文字和红色背景条的div部分*/
    width: 386px;
    height: 327px;
    border:1px #f8f8f8 solid;
    float: left;
    margin-right: 18px;
}
.exclusive_topics_bottom_2 {
    /*exclusive_topics区域下方的存黑色背景、文字和红色背景条的div部分*/
    width: 386px;
    height: 327px;
    border:1px #f8f8f8 solid;
    float: left;
}
.bg_black {
    /*黑色背景区域部分*/
    width: 386px;
    height: 221px;
    background-color: black;
    position: relative;
}
.bg_black_middle {
    /*黑色背景区域中间存放两个鼠标悬浮跳出（js代码写）span标签的div部分*/
    display: inline-block;
    width: 85px;
    height:41px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-left: -42px;
    margin-top: -20px;
}
.bg_black_middle .span_1 {
    /*黑色背景区域中间两个鼠标悬浮跳（js代码写）的span标签部分*/
    float: left;
    visibility: visible;
    width: 40px;
    height: 41px;
    margin-right: 5px;
    background: #514a49 url("../Images/search.png") center no-repeat;
}
.bg_black_middle .span_2 {
    /*黑色背景区域中间两个鼠标悬浮跳（js代码写）的span标签部分*/
    float: right;
    visibility: visible;
    width: 40px;
    height: 41px;
    background: #514a49 url("../Images/link.png") center no-repeat;
}
.bg_black:hover {
    /*黑色背景区域鼠标悬浮事件*/
    background-color: #d7d7d7;
}
.exclusive_topics_bottom_1_text {
    /*黑色背景区域下方存放文字的div部分*/
    padding: 14px 0 15px;
}
.exclusive_topics_bottom_1_text h3 {
    /*黑色背景区域下方存放文字的div里面的h3标签部分*/
    font-size: 18px;
    line-height:24px;
    color: #1f1f1f;
    margin-left: 14px;
}
.exclusive_topics_bottom_1_text p {
    /*黑色背景区域下方存放文字的div里面的p标签部分*/
    font-size: 12px;
    line-height:25px;
    color:#9f9f9f;
    margin-left: 14px;
}
.exclusive_topics_bottom_1_text span {
    /*黑色背景区域下方存放文字的div里面的p标签里面的span部分*/
    color: #ff6e5b;
}
.bg_red {
    /*黑色背景区域下方存放文字的div下方的红色背景条部分*/
    height: 5px;
    background-color: #ff5842;
}
.body {
    width: 1200px;
    margin: 0 auto;
}
.body_left {
    width: 880px;
    margin-right: 20px;
    display: inline-block;
    float: left;
}
.hot_topics_logo {
    margin-bottom: 20px;
}
.hot_topics_logo span {
    display: inline-block;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    margin-left:10px;
}
#hotTopicsShow {
    height: 405px;
    width: 880px;
    background-color: #d7d7d7;
    position: relative;
    margin-bottom: 20px;
}
#hotTopicsShow .text {
    width: 572px;
    height: 87px;
    background-color: #2b2b2b;
    padding:16px;
    position: absolute;
    left: 16px;
    bottom: 15px;

}
#hotTopicsShow .text p{
    font-size: 19px;
    line-height: 27px;
    color: #ffffff;
}
#hotTopicsShow .text span {
    font-size: 16px;
    line-height: 21px;
    display: block;
    color: #ffffff;
}
.turn_way {
    position: absolute;
    right: 10px;
    bottom: 15px;
}
.turn_way div {
    height: 41px;
    width:41px;
    background-color: #404040;
    color: #c6c6c6;
    font-size: 21px;
    line-height:41px;
    text-align: center;
    display: inline-block;
    cursor: pointer;

}
.bottom_red {
    background-color: #ff5842;
    height: 5px;
    position: absolute;
    bottom: 0;
    width: 880px;
}
.entertainment {
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    color:#1f1f1f;
    margin-bottom:20px;
}
.entertainment_content {
    margin-bottom: 20px;
}
.entertainment_content_left {
    float: left;
    width: 420px;
    height: 422px;

    margin-right: 10px;
    position: relative;
}
.entertainment_content_left_bg {
    height: 190px;
    background-color: #b4b4b4;
    margin-bottom: 13px;
}
.entertainment_content_left_text {
    padding: 0 16px;
}
.entertainment_content_left_text .p1 {
    font-size: 18px;
    line-height: 24px;
    color:#3b3b3b;
}
.entertainment_content_left_text .p2 {
    font-size: 12px;
    line-height: 25px;
    color: #9f9f9f;
}
.entertainment_content_left_text .p2 span {
    color: #ff5842;
}
.entertainment_content_left_text li {
    width: 15px;
    height: 14px;
    float: left;
}
.entertainment_content_left_text .li_1 {
    background-image: url("../Images/yellowStar.png");
}
.entertainment_content_left_text .li_2 {
    background-image: url("../Images/yellowStar.png");
}
.entertainment_content_left_text .li_3 {
    background-image: url("../Images/grayStar.png");
}
.entertainment_content_left_text .li_4 {
    background-image: url("../Images/grayStar.png");
}
.entertainment_content_left_text .li_5 {
    background-image: url("../Images/grayStar.png");
}
.entertainment_content_left_text .p3 {
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}
.entertainment_content_left_text .p3 span {
    color: #ff5842;
}
.entertainment_content_left_red_bg {
    height: 5px;
    width: 420px;
    background-color: #ff5842;
    position: absolute;
    bottom: 0;
}
.entertainment_content_right {
    float: right;
    width: 450px;
    height: 422px;
}

.entertainment_content_right_content {
    width: 220px;
    height: 205px;
    float: left;
}



.blank_space_1 {
    margin-right: 10px;
}
.blank_space_2 {
    margin-right: 10px;
    margin-top: 10px;
}
.blank_space_3 {
    margin-top: 10px;
}

.entertainment_content_right_content_bg {
    background-color: #b4b4b4;
    width: 220px;
    height: 99px;
    margin-bottom: 10px;
}
.entertainment_content_right_text {
    padding:0 10px;
}
.entertainment_content_right_text .p1 {
    font-size: 16px;
    line-height: 24px;
    color: #1f1f1f;
}
.entertainment_content_right_text .p2 {
    font-size: 12px;
    line-height:18px;
    color: #9f9f9f;
    margin-bottom: 8px;
}
.entertainment_content_right_text .p2 span {
    color: #ff5842;
}
.entertainment_content_right_text li {
    width: 15px;
    height: 14px;
    float: left;
}
.entertainment_content_right_text .li_1 {
    background-image: url("../Images/yellowStar.png");
}
.entertainment_content_right_text .li_2 {
    background-image: url("../Images/yellowStar.png");
}
.entertainment_content_right_text .li_3 {
    background-image: url("../Images/grayStar.png");
}
.entertainment_content_right_text .li_4 {
    background-image: url("../Images/grayStar.png");
}
.entertainment_content_right_text .li_5 {
    background-image: url("../Images/grayStar.png");
}

.technology {
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    color: #1f1f1f;
    margin-bottom: 20px;
}
.technology_total {
    height: 683px;
    width: 880px;
    margin-bottom: 20px;
}
.technology_top {
    width: 880px;
    height: 296px;
    margin-bottom: 10px;
}
.technology_top_content {
    width: 433px;
    height: 294px;

    border:1px #f8f8f8 solid;
}
.blank_space_a {
    float: left;
    margin-right: 10px;
}
.blank_space_b {
    float: right;
}
.technology_top_content_bg {
    height:190px;
    width: 435px;
    background-color: #b4b4b4;
}
.technology_top_content .p1 {
    margin-top: 10px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 24px;
    color: #1f1f1f;
}
.technology_top_content .p2 {
    padding: 0 10px;
    font-size: 12px;
    line-height: 25px;
    color: #9f9f9f;
    margin: 10px 0 4px;
}
.technology_top_content .p2 span {
    color: #ff5842;
}
.technology_top_content li {
    width: 15px;
    height: 14px;
    float: left;
}
.technology_top_content ul {
    padding: 0 10px;
}
.technology_top_content .li_1 {
    background-image: url("../Images/yellowStar.png");
}
.technology_top_content .li_2 {
    background-image: url("../Images/yellowStar.png");
}
.technology_top_content .li_3 {
    background-image: url("../Images/grayStar.png");
}
.technology_top_content .li_4 {
    background-image: url("../Images/grayStar.png");
}
.technology_top_content .li_5 {
    background-image: url("../Images/grayStar.png");
}


.technology_bottom {
    width: 880px;
    height: 377px;
}
.technology_bottom_content {
    width: 286px;
    height: 377px;
    float: left;
}
.technology_bottom_content_bg {
    height: 129px;
    background-color: #b4b4b4;
}
.technology_bottom_content_text .p1 {
    font-size: 18px;
    color: #1f1f1f;
    margin:10px 0 20px 10px;
}
.technology_bottom_content_text .p2 {
    font-size: 12px;
    color: #9f9f9f;
    margin-left: 10px;
    margin-bottom: 10px;
}
.technology_bottom_content_text .p2 span {
    color: #ff5842;
}
.technology_bottom_content li {
    width: 15px;
    height: 14px;
    float: left;
}
.technology_bottom_content ul {
    padding: 0 10px;
}
.technology_bottom_content .li_1 {
    background-image: url("../Images/yellowStar.png");
}
.technology_bottom_content .li_2 {
    background-image: url("../Images/yellowStar.png");
}
.technology_bottom_content .li_3 {
    background-image: url("../Images/grayStar.png");
}
.technology_bottom_content .li_4 {
    background-image: url("../Images/grayStar.png");
}
.technology_bottom_content .li_5 {
    background-image: url("../Images/grayStar.png");
}
.technology_bottom_content_text .p3 {
    font-size: 14px;
    padding-top: 10px;
    margin:10px 10px 0 10px;
    border-top:1px #f8f8f8 solid;
}
.technology_bottom_content_text .p3 span {
    color: #ff5842;
}
.blank_space_A {
    margin-right: 11px;
}



.environment {
    border:1px #f8f8f8 solid;
}
.environment_top {
    height: 41px;
    margin-bottom: 20px;
}
.environment_top_left {
    padding:5px 0 4px;
    height: 32px;
    float: left;
    font-size: 24px;
    color: #1f1f1f;
}
.environment_top_right {
    float: right;
}
.environment_top_right .turn {
    height: 41px;
    width: 85px;
}
.environment_top_right div div {
    width: 41px;
    height: 41px;
    background-color: #eeeeee;
    float: left;
    font-size: 30px;
    text-align: center;
    line-height:41px;
    color: #686868;
}
.environment_top_right .right {
    margin-left: 3px;
}
.environment_top_bg {
    width: 878px;
    height: 398px;
    background-color: #b4b4b4;
}
.environment .p1 {
    color: #1f1f1f;
    font-size: 18px;
    margin: 22px 0 16px 10px;
}
.environment .p2 {
    color: #9f9f9f;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 12px;
}
.environment .p2 span {
    color: #ff5842;
}
.environment li {
    width: 15px;
    height: 14px;
    float: left;
}
.environment ul {
    padding: 0 10px;
}
.environment .li_1 {
    background-image: url("../Images/yellowStar.png");
}
.environment .li_2 {
    background-image: url("../Images/yellowStar.png");
}
.environment .li_3 {
    background-image: url("../Images/grayStar.png");
}
.environment .li_4 {
    background-image: url("../Images/grayStar.png");
}
.environment .li_5 {
    background-image: url("../Images/grayStar.png");
}
.environment .p3 {
    padding: 10px;
    font-size: 14px;
    color: #777777;
    margin: 10px;
    border-top: 1px #f8f8f8 solid;
}
.environment_bottom {
    width: 880px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.environment_bottom_content {
    width: 435px;
    height: 90px;
    padding-bottom: 10px;
    float: left;
}
.environment_bottom_content_bg {
    background-color: #c3c3c3;
    width: 90px;
    height: 90px;
    margin-right: 10px;
    float: left;
}
.environment_bottom .p1 {
    color: #1f1f1f;
    font-size: 16px;
}
.environment_bottom .p2 {
    font-size: 12px;
    color: #9f9f9f;
    margin-top: 12px;
}
.environment_bottom .p2 span {
    color: #ff5842;
}
.blank_space_left {
    margin-right: 10px;
}
























.body_right {
    width: 300px;
    display: inline-block;
    float: right;
}
.follow_us_logo {
    height: 32px;
    font-size: 24px;
    color: #1f1f1f;
    margin-bottom: 20px;
}
.follow_us {
    width: 300px;
    height: 145px;
}
.follow_us_img {
    background-color: indianred;
    height: 45px;
    width: 45px;
    float: left;
}
.space_1 {
    margin-right: 6px;
}
.space_2 {
    margin-bottom: 5px;
}
.Categories_list {
    height: 32px;

    font-size: 24px;
    color: #1f1f1f;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Categories_list_nav_content {
    width: 149px;
    height: 38px;
    background: #f6f6f6;
    color: #aeaeae;
    float: left;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
}
.Categories_list_nav_content a {
    display: inline-block;
    width: 149px;
    height: 38px;
}
.Categories_list_nav_content a:hover {
    color: #ffffff;
    background-color: #ff5842;
}
.space_a {
    margin-right: 2px;
}
.space_b {
    margin-bottom: 2px;
}
.advertising {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
}
.advertising_bg {
    width: 300px;
    height: 250px;
    background-color: #ececec;
    margin-bottom: 20px;
}
.list {
    height: 47px;
    border-top: 5px #f24933 solid;
}
.list div {
    float: left;
    width: 100px;
    height: 21px;
    padding: 13px 0;
    background-color: #ff5842;
    cursor: pointer;
}
.list div a {
    height: 21px;
    width: 99px;
    float: left;
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    border-right: 1px #f24933 solid;
}
.list div .last {
    border: 0 ;
}
.list a:hover {
    background-color: #f24933;
}
.list div:hover {
    background-color: #f24933;
}
.living_abroad {
    width: 276px;
    border:1px #f8f8f8 solid;
    border-top: 0;
    padding: 0 11px;
}
.living_abroad_show {
    margin: 10px 0;
    border-bottom: 1px #f8f8f8 solid;

}
.living_abroad_bg {
    width: 90px;
    height: 90px;
    background-color: #c3c3c3;
    margin-right: 10px;
    float: left;
}
.living_abroad_show .p1 {
    font-size: 16px;
    color: #1f1f1f;
    margin-bottom: 10px;
}
.living_abroad_show .p2 {
    font-size: 12px;
    color: #9f9f9f;
}
.living_abroad_show .p2 span {
    color: #ff5842;
}
.tags {
    height: 32px;
    margin:20px 0;
    color: #1f1f1f;
    font-size: 24px;
    line-height: 32px;
}

.tags_list .first,.tags_list .third {
    height: 37px;

}
.tags_list .second {
     height: 37px;
     margin: 2px 0;

 }
.tags_list span {
    padding: 0 10px;
    height: 37px;
    background-color: #f6f6f6;
    margin-right: 2px;
    display: inline-block;
    float: left;
    line-height: 37px;
    font-size: 14px;
    color: #8f8f8f;
}
.tags_list span:hover {
    background-color: #ff5842;
    color: #ffffff;
    cursor: pointer;
}
.featured_videos {
    height: 32px;
    margin:20px 0;
    color: #1f1f1f;
    font-size: 24px;
    line-height: 32px;
}
.twitter {
    height: 32px;
    margin:20px 0;
    color: #1f1f1f;
    font-size: 24px;
    line-height: 32px;
}
.twitter_list div {
    margin-bottom: 2px;
    background-color: #f6f6f6;
    height: 52px;
    width: 300px;
}
.twitter_list .photo {
    width: 40px;
    height: 40px;
    background-color: red;
    float: left;
    margin:6px 0;
}
.twitter_list p {
    font-size: 12px;
    color: #8f8f8f;
    line-height: 16px;
    float: left;
    padding-top: 10px;
    margin-left: 10px;
}
.twitter_list div:hover {
    background-color: #50b4e6;
    border:1px #42a7d9 solid;
}
.news_letter {
    height: 32px;
    margin: 20px 0;
    color: #1f1f1f;
    font-size: 24px;
    line-height: 32px;
}
.news_letter_p {
    margin-bottom: 10px;
    width: 300px;
    font-size: 16px;
}
.new_letter_sear {
    width: 300px;
    height: 43px;
    margin-left: -13px;
    float: right;
}
.new_letter_sear .txt {
    border: 1px #dcdcdc solid;
    border-right: 0 none;
    height: 41px;
    width: 209px;
    outline: none;
}
.new_letter_sear .sub {
    width: 90px;
    text-align: center;
    line-height: 43px;
    background-color: #ff5842;
    border:0 none;
    float: right;
    color: white;
    outline: none;
}



/*footer部分*/
.footer_bg1 {
    width: 100%;
    background-color:#222f35 ;
}
#footer_top {
    width: 1200px;
    margin: auto;
    padding:20px 0 40px 0;
    background-color: #222f35;
}
#footer_top a {
    color: #82a0ad;
}
.footer_top_left {
    width: 368px;
    float: left;
}
.company {
     font-size: 24px;
     color: white;
    line-height:28px;
    margin-bottom: 20px;
 }
.company_description {
    color: #82a0ad;
    font-size: 14px;
    line-height: 21px;
}
.footer_top_right {
    float: right;
    width: 638px;
    padding-bottom: 10px;
}
.support_1 {
    float: left;
    margin-right: 126px;
}
.downloads {
    float: left;
    margin-right: 143px;
}
.support_2 {
    float: left;
    margin-right: 65px;
}
dt {
    font-size: 24px;
    line-height:28px;
    color: white;
    margin-bottom: 20px;
}
dd {
    font-size: 14px;
    line-height:26px;
    color: #829fad;
}
.footer_bg2 {
    background-color: #172125 ;
    width:100%;
}
#footer_bottom {
    width:1200px;
    margin:0 auto;
    background-color: #172125;
}
#footer_bottom p {
    display: inline-block;
    font-size: 14px;
    line-height:54px;
    color: #82a0ad;
    height: 54px;
}
#footer_bottom ul {
    float: right;
    padding:8px 0 9px 0;
}
#footer_bottom li {
    float: left;
    margin-left:2px;
}